aside{
  top: 54px;
  left: 0;
  width: 72px;
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 7px 0 0 0;
  background-color: white;
  position: fixed;
  z-index: 2;
}
.aside-container img{
  height: 24px;
  width: 24px;
}
.aside-container{
  display: flex;
  flex-direction: column;
  font-family: Roboto, Arial;
  font-size: 10px;
  font-weight: 400;
  height: 74px;
  align-items: center;
  justify-content:center;
  line-height: 15px;
  cursor: pointer;
}
.aside-container:hover{
  background-color: rgb(230, 230, 230);
}
.aside-container img{
  margin: 0 0 5px 0;
}